.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.image-container img {
  width: 100px;
  height: 100px;
}
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
}
