<header class="bg-image">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-8">
                <h1>Inventory Management System</h1>
            </div>
            <div class="col-4 text-end">
                <button class="btn btn-primary bi bi-geo-alt-fill me-2">Inventory Map</button>
                <button class="btn btn-secondary bi bi-file-earmark-bar-graph-fill"> Inventory Report</button>
            </div>
        </div>
    </div>
</header>
<hr class="mt-2 mb-3" />

<main class="bg-body">
    <app-charts></app-charts>
</main>

<!-- <router-outlet></router-outlet> -->